body {
  background-color: #817fa0;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.weather-section {
  background-color: #9faac3;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 15px 15px 15px #e3e8e4;
  border-radius: 15px;
}

#city-input {
  padding: 15px;
  border-radius: 15px;
}
.current-weather-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.current-temp {
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#icon {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
}
.weather-app-icon {
  width: 100%;
  height: auto;
}
.grid-emoji {
  text-align: center;
}

#grid-forecast {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 10px;
  padding: 8px 10px 8px 10px;
}
